@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
container {
  max-width: 1320px;
}

body {
  font-family: "Lato", sans-serif;
}

nav {
  padding: 16px 0;
  background: rgba(218, 246, 235, 0.5);
}

nav ul {
  list-style: none;
  gap: 45px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #1B1B1B;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav ul li a:hover {
  color: #06C279;
}

nav .navbarBtn {
  background: #06C279;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 25px;
  text-decoration: none;
  margin-left: 142px;
  border-radius: 5px;
}

#bannar {
  background: rgba(218, 246, 235, 0.5);
  padding-top: 26px;
}

#bannar .bannar__area .bannar__text__area h1 {
  font-size: 60px;
  font-weight: 300;
  color: #1B1B1B;
}

#bannar .bannar__area .bannar__text__area h2 {
  font-size: 60px;
  font-weight: 700;
  color: #1B1B1B;
}

#bannar .bannar__area .bannar__text__area p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #717171;
  max-width: 511px;
  margin-top: 37px;
}

#bannar .bannar__area .bannar__text__area .bannarBtn__area {
  gap: 20px;
}

#bannar .bannar__area .bannar__text__area .bannarBtn__area .bannarBtn {
  margin-top: 51px;
}

#bannar .bannar__area .bannar__text__area .bannarBtn__area .bannarBtn a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #06C279;
  border: 1px solid #06C279;
  border-radius: 5px;
  padding: 15px 25px;
}

#bannar .bannar__area .bannar__text__area .bannarBtn__area .bannarBtn a:hover {
  background: #06C279;
  color: #FFFFFF;
}

#bannar .bannar__area .bannar__text__area .bannarBtn__area .bannarBtn a .playicon {
  font-size: 20px;
  margin-right: 10px;
}

#bannar .bannar__area .bannar__img__area img {
  margin-right: 80px;
  margin-bottom: -13px;
}

#experience {
  padding: 100px 0;
}

#experience .experience__area {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#experience .experience__area .experience__text__area h2 {
  font-size: 45px;
  font-weight: 600;
  color: #1B1B1B;
  line-height: 54px;
  max-width: 480px;
  text-transform: capitalize;
}

#experience .experience__area .experience__text__area p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #717171;
  max-width: 550px;
  margin-top: 30px;
  margin-bottom: 45px;
}

#experience .experience__area .experience__text__area a {
  font-size: 16px;
  font-weight: 600;
  color: #06C279;
  background: rgba(218, 246, 235, 0.5);
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 5px;
}

#services {
  background: rgba(218, 246, 235, 0.5);
  padding: 70px 0;
  border-top-left-radius: 250px;
  border-bottom-right-radius: 250px;
}

#services .services__area {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#services .services__area .services__item__area {
  gap: 40px;
}

#services .services__area .services__item__area .services__item__one {
  margin-top: 100px;
}

#services .services__area .services__item__area .services__item__one .services__item__box {
  margin-bottom: 40px;
  padding: 60px 47px;
  background: #FFFFFF;
  border-radius: 10px;
}

#services .services__area .services__item__area .services__item__one .services__item__box h4 {
  font-size: 20px;
  font-weight: 600;
  color: #1B1B1B;
  margin-bottom: 14px;
}

#services .services__area .services__item__area .services__item__one .services__item__box p {
  font-size: 16px;
  font-weight: 400;
  color: #717171;
  max-width: 210px;
}

#services .services__area .services__item__area .services__item__one .services__item__box:hover {
  background: #06C279;
  color: #FFFFFF;
}

#services .services__area .services__item__area .services__item__two .services__item__box {
  margin-bottom: 40px;
  padding: 60px 47px;
  background: #FFFFFF;
  border-radius: 10px;
}

#services .services__area .services__item__area .services__item__two .services__item__box h4 {
  font-size: 20px;
  font-weight: 600;
  color: #1B1B1B;
  margin-bottom: 14px;
}

#services .services__area .services__item__area .services__item__two .services__item__box p {
  font-size: 16px;
  font-weight: 400;
  color: #717171;
  max-width: 210px;
}

#services .services__area .services__text__area h2 {
  font-size: 45px;
  font-weight: 600;
  color: #1B1B1B;
  line-height: 54px;
  max-width: 480px;
  text-transform: capitalize;
}

#services .services__area .services__text__area p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #717171;
  max-width: 550px;
  margin-top: 30px;
  margin-bottom: 45px;
}

#services .services__area .services__text__area a {
  font-size: 16px;
  font-weight: 600;
  color: #06C279;
  background: rgba(218, 246, 235, 0.5);
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 5px;
}

#project {
  padding: 91px 0;
}

#project .project__area {
  text-align: center;
}

#project .project__area .project__title h2 {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  color: #1B1B1B;
  margin-bottom: 33px;
}

#project .project__area .project__title ul {
  list-style: none;
  gap: 45px;
}

#project .project__area .project__title ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #717171;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#project .project__area .project__title ul li a:hover {
  color: #06C279;
}

#project .project__area .project__item {
  margin-top: 50px;
}

#project .project__area .project__item .project__item__box {
  text-align: center;
}

#project .project__area .project__item .project__item__box img {
  max-width: 424px;
}

#project .project__area .project__item .project__item__box h3 {
  font-size: 22px;
  font-weight: 600;
  color: #1B1B1B;
  margin-top: 20px;
}

#project .project__area .project__item .project__item__box p {
  font-size: 16px;
  font-weight: 400;
  color: #717171;
  margin-top: 10px;
  max-width: 344px;
  margin: 0 auto;
  margin-bottom: 50px;
}

#project .project__area .projectBtn {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #06C279;
  border: 1px solid #06C279;
  border-radius: 5px;
  padding: 15px 25px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#project .project__area .projectBtn:hover {
  background: #06C279;
  color: #FFFFFF;
}

#working {
  background: rgba(218, 246, 235, 0.5);
  padding: 70px 0;
  border-top-left-radius: 250px;
  border-bottom-right-radius: 250px;
}

#working .working__area {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#working .working__area .working__item__area {
  gap: 40px;
}

#working .working__area .working__item__area .working__item__one .working__item__box {
  text-align: center;
  margin-bottom: 40px;
  padding: 60px 47px;
  background: #FFFFFF;
  border-radius: 10px;
}

#working .working__area .working__item__area .working__item__one .working__item__box h4 {
  font-size: 20px;
  font-weight: 600;
  color: #1B1B1B;
  margin-bottom: 14px;
}

#working .working__area .working__item__area .working__item__one .working__item__box h3 {
  font-size: 30px;
  font-weight: 600;
  color: #1B1B1B;
  margin-bottom: 14px;
}

#working .working__area .working__item__area .working__item__one .working__item__box:hover {
  background: #06C279;
  color: #FFFFFF;
}

#working .working__area .working__item__area .working__item__two {
  margin-top: 100px;
}

#working .working__area .working__item__area .working__item__two .working__item__box {
  text-align: center;
  margin-bottom: 40px;
  padding: 60px 47px;
  background: #FFFFFF;
  border-radius: 10px;
}

#working .working__area .working__item__area .working__item__two .working__item__box h4 {
  font-size: 20px;
  font-weight: 600;
  color: #1B1B1B;
  margin-bottom: 14px;
}

#working .working__area .working__item__area .working__item__two .working__item__box h3 {
  font-size: 30px;
  font-weight: 600;
  color: #1B1B1B;
  margin-bottom: 14px;
}

#working .working__area .working__text__area h2 {
  font-size: 45px;
  font-weight: 600;
  color: #1B1B1B;
  line-height: 54px;
  max-width: 457px;
  text-transform: capitalize;
}

#working .working__area .working__text__area p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #717171;
  max-width: 550px;
  margin-top: 30px;
  margin-bottom: 45px;
}

#working .working__area .working__text__area a {
  font-size: 16px;
  font-weight: 600;
  color: #06C279;
  border: 1px solid;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#working .working__area .working__text__area a:hover {
  background: #06C279;
  color: #FFFFFF;
}

#clients {
  padding: 94px 0;
}

#clients .clients__area {
  text-align: center;
}

#clients .clients__area .clients__title h2 {
  font-size: 45px;
  font-weight: 600;
  color: #1B1B1B;
  text-transform: capitalize;
  margin-bottom: 48px;
}

#ad__part {
  background: #06C279;
  padding: 86px 0;
}

#ad__part .ad__area {
  position: relative;
}

#ad__part .ad__area .ad__text h2 {
  font-size: 45px;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 38px;
}

#ad__part .ad__area .ad__text a {
  font-size: 16px;
  font-weight: 600;
  color: #1B1B1B;
  padding: 15px 25px;
  border: 1px solid #1B1B1B;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#ad__part .ad__area .ad__text a:hover {
  background: #1B1B1B;
  color: #FFFFFF;
}

#ad__part .ad__area .ad__img {
  position: absolute;
  right: 0;
  top: -140px;
}
/*# sourceMappingURL=style.css.map */