#working{
    background: $bg;
    padding: 70px 0;
    border-top-left-radius: 250px;
    border-bottom-right-radius: 250px;
    .working__area{
        align-items: center;
        .working__item__area{
            gap: 40px;
            .working__item__one{
                // margin-top: 100px;
                .working__item__box{
                    text-align: center;
                    margin-bottom: 40px;
                    padding: 60px 47px;
                    background: $white;
                    border-radius: 10px;
                    h4{
                        font-size: 20px;
                        font-weight: 600;
                        color: $black;
                        margin-bottom: 14px;
                    }
                    h3{
                        font-size: 30px;
                        font-weight: 600;
                        color: $black;
                        margin-bottom: 14px;
                    }
                    &:hover{
                        background: $primary;
                        color: $white
                    }
                }
            }
            .working__item__two{
                margin-top: 100px;
                .working__item__box{
                    text-align: center;
                    margin-bottom: 40px;
                    padding: 60px 47px;
                    background: $white;
                    border-radius: 10px;
                    h4{
                        font-size: 20px;
                        font-weight: 600;
                        color: $black;
                        margin-bottom: 14px;
                    }
                    h3{
                        font-size: 30px;
                        font-weight: 600;
                        color: $black;
                        margin-bottom: 14px;
                    }
                }
            }
        }
        .working__text__area{
            h2{
                font-size: 45px;
                font-weight: 600;
                color: $black;
                line-height: 54px;
                max-width: 457px;
                text-transform: capitalize;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                color: $pera;
                max-width: 550px;
                margin-top: 30px;
                margin-bottom: 45px;
            }
            a{
                font-size: 16px;
                font-weight: 600;
                color: $primary;
                // background: $white;
                border: 1px solid;
                padding: 15px 25px;
                text-decoration: none;
                border-radius: 5px;
                transition: 0.4s;
                &:hover{
                    background: $primary;
                    color: $white;
                }
            }
       }
    }
}